.deps
.libs
autom4te.cache
build-aux
*.o
*.lo
Makefile
Makefile.in
config.*
configure
hfst-ospell
hfst-ospell-office
hfstospell.pc
libhfstospell.la
libtool
stamp-h1
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
